{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block add %}
  <a class="border border-primary p-2 rounded-circle" href="{% url 'locations:state_list' %}">
    <span class="smf sf-4"><i class="fa-solid fa-list"></i></span>
  </a>
{% endblock %}
{% block content %}
<div class="d-flex border-bottom p-4">
  <div class="flex-grow-1">
    <span class="fs-4 text-secondary">
      <i class="fa-solid fa-house-laptop"></i>
    </span>
    <span class="px-2 tth">
      {{ title }}
    </span>
    <span class="px-2 tth">
      {{ header }}
    </span>
  </div>
  <div class="p-2">
    <span>
      <a href="{% url 'locations:state_list' %}">
        القائمة الرئيسية
        <span class="px-3 fs-6"><i class="fa-solid fa-list"></i></span>
      </a>
    </span>
  </div>
</div>
<div class="p-4">

    <div class="mt-2">
    <div class="px-4 mt-4">
      <p class="fw-bold text-danger fs-6">
        الرجاء ملء البيانات     .... ?
      </p>
    </div>
    <form class=" px-3 py-3" method="post">
      {% csrf_token %}
      <div class="col-6  mb-3" id="name">
        {{ form.name|as_crispy_field }}
      </div>
      <br />
      <div class="">
        <button class="btn btn-outline-success btn-sm mb-4 smf d-inline-flex align-items-center" type="submit">
          {{ action }}
          <span class="px-3"><i class="fa-solid fa-floppy-disk"></i></span>
        </button>
      </div>
      <br><br>

    </form>
</div>
</div>
{% endblock %}
