{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block add %}
  <a class="border border-primary p-2 rounded-circle" href="{% url 'locations:city_list' %}">
    <span class="smf sf-4"><i class="fa-solid fa-list"></i></span>
  </a>
{% endblock %}
{% block content %}

<div class="">
  <div class="d-flex mt-2 border-bottom">
    <div class="flex-grow-1">
      <span class="fs-4 text-secondary">
        <i class="fa-solid fa-house-laptop"></i>
      </span>
      <span class="px-2 tth">
        {{ title }}
      </span>
      <span class="px-2 tth">
        {{ header }}
      </span>
    </div>
    <div class="p-2">
      <span>
        <a href="{% url 'locations:city_list' %}">
          القائمة الرئيسية
          <span class="px-3 fs-6"><i class="fa-solid fa-list"></i></span>
        </a>
      </span>
    </div>
  </div>
    <div class="mt-2">
      <br>
    <div class="px-4 mt-4">
      <p class="fw-bold text-danger fs-6 border-bottom">
        الرجاء ملء البيانات     .... ?
      </p>
    </div>
    <form class=" px-3 py-3" method="post">
      {% csrf_token %}
      <div class="row">
        <div class="col-5  mb-3" id="name">
          <p class="text-white bg-primary cb bg-opacity-75 py-1 rounded-pill border-white tsmf px-2 mb-2">
            
          </p>
          {{ form.name|as_crispy_field }}
        </div>
        <div class="col-2">

        </div>
        <div class="col-5  mb-3" id="state">
          <p class="text-white bg-primary cb bg-opacity-75 py-1 rounded-pill border-white tsmf px-2 mb-2">
            إختيار الولاية
          </p>
          {{ form.state|as_crispy_field }}
        </div>
      </div>
      <div class="row">
        <div class="col-5  mb-3" id="locality">
          <p class="text-white bg-primary cb bg-opacity-75 py-1 rounded-pill border-white tsmf px-2 mb-2">
            إختيار المحلية
          </p>
          {{ form.locality|as_crispy_field }}
        </div>
        <div class="col-2">

        </div>
        <div class="col-5  mb-3" id="unity">
          <p class="text-white bg-primary cb bg-opacity-75 py-1 rounded-pill border-white tsmf px-2 mb-2">
            إختيار الوحدة الإدارية
          </p>
          {{ form.unity|as_crispy_field }}
        </div>
      </div>
      <hr>
      <div class="px-3">
        <button class="btn  btn-save mb-4 smf d-inline-flex align-items-center" type="submit">
          {{ action }}
          <span class="px-3"><i class="fa-solid fa-floppy-disk"></i></span>
        </button>
      </div>
      <br><br>

    </form>
</div>
</div>
{% endblock %}
{% block js %}
<script type="text/javascript">
  $("#id_state").change(function(){
    var stateId = $(this).val();
    $.ajax({
      url: '{% url 'locations:load_localities' %}',
      data: {
        'state' : stateId
      },
      success: function(data){
        $("#id_locality").html(data)
      }
    });
  });
  $("#id_locality").change(function(){
    var localityId = $(this).val();
    $.ajax({
      url: '{% url 'locations:load_unities' %}',
      data: {
        'locality' : localityId
      },
      success: function(data){
        $("#id_unity").html(data)
      }
    });
  });
</script>
{% endblock %}
