
<nav class=" site-nav bg-white">
  <div class="row">
    <div class="col-4">
        <span class="thdr fs-4 px-5"></span>
    </div>
    <div class="col-4">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarScroll">
        <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Link</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Link
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#">الموظفين</a></li>
              <li><a class="dropdown-item" href="#">Another action</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="#">Something else here</a></li>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled" aria-disabled="true">Link</a>
          </li>
        </ul>
        <form class="d-flex" role="search">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
      </div>
      </div>
    <div class="col-4 mb-2">
        <div class="d-flex justify-content-end mt-2">
          {% if user.is_authenticated %}
            <a href="{% url 'account:logout' %}" class="btn btn-secondary smf me-4 btn-sm">خروج
              <span class="px-2"><i class="fa-solid fa-shop-slash"></i></span>
            </a>
          {% else %}
          <a href="{% url 'account:login' %}" class="btn btn-secondary smf btn-sm me-3">دخول
            <span class="px-2"><i class="fa-solid fa-arrow-right-to-bracket"></i></span>
          </a>
          <a href="{% url 'account:register' %}" class="btn btn-secondary smf btn-sm me-3">تسجيل
            <span class="px-2"><i class="fa-regular fa-registered"></i></span>
          </a>
          {% endif %}
        </div>
  </div>
  </div>
</nav>
