<div class="col-fixed border-bottom">
<nav class="navbar navbar-expand-lg navbar-light bg-light   px-0">
  <a class="navbar-brand hdr fw-bold" href="/">سجل الموظفين</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav mr-auto d-flex justify-content-around w-75">
          <li class="nav-item">
              <a class="nav-link" href="https://djangotricks.blogspot.com" target="_blank">الأعدادات</a>
          </li>
          <li class="nav-item">
              <a class="nav-link" href="https://twitter.com/DjangoTricks" target="_blank">العلميات</a>
          </li>
          <li class="nav-item">

              <a class="nav-link" href="/goodies/"></a>
          </li>
          <li class="nav-item">
              <a class="nav-link" href="https://paypal.me/aidasbendoraitis" target="_blank">التقارير</a>
          </li>
          <li class="nav-item">
              <a class="nav-link" href="/cookies/" rel="nofollow">Manage Cookies</a>
          </li>
      </ul>

      <a class="btn btn-primary float-right" href="/random/">Random trick ➔</a>
  </div>
</nav>
</div>

<nav id="hdr" class="py-1 bg-warning bg-opacity-100">

</nav>
