{% load static %}
<!DOCTYPE html>
<html dir="rtl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{% static 'css/bs/bootstrap.rtl.min.css' %}" rel="stylesheet">
    <link href="{% static 'fa/css/all.min.css' %}" rel="stylesheet" type="text/css"/>
    <link rel="stylesheet" href="{% static 'css/base.css' %}" rel="stylesheet" type="text/css"/>
    <title>{% block title %}{% endblock %}</title>
</head>
<body class="">
  {% include 'snippets/header.html' %}
  <div class="container">
    <div class="row mt-4">
      <div class="col-3 bg-cyan-200">
        <br />
        <br />
          {% include 'snippets/side.html' %}
      </div>
      <div class="col-7 bg-white">
        {% block content %}{% endblock %}
      </div>
      <div class="col-2">

      </div>
    </div>
  </div>
  <script src="{% static 'js/bs/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'js/jquery-3.7.1.js' %}"></script>
  {% block js %}
  {% endblock %}
</body>
</html>
