{% extends 'base.html' %}
{% block content  %}
<div class="">
  <div class="d-flex mt-2  border-bottom">
    <div class="p-2 flex-grow-1">
      <span class="px-2 fs-4 text-secondary">
        <i class="fa-solid fa-house-laptop"></i>
      </span>
      <span class="px-2 fw-bold tth">
        {{ title }}  /
      </span>
      <span class="fw-bold tth">
        {{ header }} /
      </span>
      <span></span>
    </div>
    <div class="p-2">
      <span>
        <a class="text-end fw-bold tth" href="{% url 'offices:add_sector' %}">
          إضافة أمانة جديدة
          <span class="px-3 fs-6"><i class="fa-solid fa-list"></i></span>
        </a>
      </span>
    </div>
  </div>
  <div class="mt-2">
    <br />
      {% if sectors %}
        <div class="">

          <table class="table">
            <thead>
              <tr class="text-center table-success bg-opacity-10">
                <th>#</th>
                <th></th>
                <th></th>
                <th></th>
              </tr>
            </thead>
            <tbody>
          {% for sec in sectors %}
            <tr class="text-center fnt">
              <td><span class="smf text-secondary">{{ sec.id }}</span></td>
              <td><span class="smf text-secondary">{{ sec.name }}</span></td>
              <td>
                <a class="smf text-success" href="{% url 'offices:update_sector' sec.id %}">
                    <span class="smf sf-4"><i class="fa-solid fa-pencil"></i></span>
                </a>
              </td>

              <td>
                <a class="smf text-danger" href="{% url 'offices:delete_sector' sec.id %}">
                  <span class="smf fs-6"><i class="fa-solid fa-text-slash"></i></span>
                </a>
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
      {% if is_paginated %}
          {% include 'snippets/paginate.html' %}
      {% endif %}
  </div>
</div>
</div>
{% endif %}
{% endblock %}
